@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
:root {
  --text-color: #667085;
  --main-color: #E88A1A;
  --title-color: #101828;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
}

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 16px;

}
.links{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 32px;
}


.links a{
  text-decoration: none;
  color: var(--text-color);
}

.buttons{
  display: flex;
  flex-direction:row;
  margin-left: 300px;
  font-size: 16px;
}
button{
  cursor: pointer;
  background: none;
  color:var(--main-color);
  border: none;
  width: 150px;
  height: 44px;
}

button a{
  text-decoration: none;
}

 .signUp{
  background-color: var(--main-color);
  box-shadow: 0px 1px 2px rgba(105, 89, 205, 0.05);
  margin-left: 20px;
}

.signUp a{
  color: #fff;
  border-radius: 8px;
}

.signIn a{
  color: var(--main-color);
}

.menu{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-around;
}

.about-us
{
  padding: 6rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about-us img{
  width: 40%;
}

.about-us span{
  color: var(--main-color);
}

.about-us h1{
  font-size: 60px;
  color: var(--title-color);
  text-align: center;
}

.about-us p {
  color: var(--text-color);
  max-width: 50%;
  text-align: center;
  line-height: 1.5rem;
}

.metrics{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  padding: 0 8rem;
}

.metric {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.metric h2{
  color: var(--main-color);
  font-size: 3rem;
}
.metric span{
   color: var(--title-color);
   font-size: 14px;
}
.metric p{
  font-size: 12px;
  color: var(--text-color);
}


.ticket{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  padding-top: 8rem;
  gap: 1rem;
}

.ticket button{
  width: 300px;
  height: 28px;
  background:rgba(105, 89, 205, 0.05);
  color: var(--main-color);
  border-radius: 30px;
  border: none;
  font-weight: 500;
}

.ticket h2{
  color: #101828;
  font-size: 40px;
  margin: 10px;
}

.ticket p{
  color:var(--text-color);
  font-size:20px;
  font-weight: 400;
}

.img-talentos img{
  margin-top: 2rem;
  width: 80%;
}


.depoimento{
  display: flex;
  flex-direction:column;
  align-items: center;
  background: rgba(105, 89, 205, 0.05);
  padding: 3rem 2rem;
  max-width: 80%;
  margin: 8rem auto;
  border-radius: 8px;
}

.depoimento span{
  color: var(--main-color);
  font-weight: 500;
  text-align: center;
}

.depoimento p{
  color: var(--title-color);
  font-weight: 500;
  text-align: center;
  max-width: 70%;
  margin: 2rem 0;
}


.depoimento h4{
  color: var(--title-color);
  margin: 0.5rem 0;
  font-weight: 400;
}

.depoimento .cargo{
  color: var(--text-color);
  font-weight: 400;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F9FAFB;
  text-align: center;
  padding: 6rem 1rem;
  gap: 1.5rem;
}


footer h2{
  color: var(--title-color);
}

footer form{
  display: flex;
  justify-content:space-between;
}

footer input {
  outline: none;
  background: #fff;
  border: 1px solid #EAECF0;
  border-radius: 5px;
  width: 12rem;
  margin-right: 1rem;
}

footer button{
  width: 116px;
  height: 40px;
  border: none;
  color:#fff;
  background: var(--main-color);
  border-radius: 5px;
}

footer span{
  color: var(--text-color)
}

#placeholder-text::placeholder{
  color: var(--text-color);
  font-size: 16px;
  padding-left: 12px;
}

@media screen and (max-width: 920px) {
  .metrics {
    padding: 0 4rem;
  }
}


@media screen and (max-width: 850px) {
  .metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .metric {
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .metric span {
    max-width: 280px;
    text-align: center;
  }

  .about-us p {
    max-width: 70%;
  }


  .depoimento h2 {
    max-width: 100%;
    font-size: 120%;
  }

  .sideMenu {
    display: initial;
    visibility: visible;
  }

  .links {
    margin: 2rem 0;
  }

  .links a{
    margin-right: 0;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100vh;
    background: #F9FAFB;
    width: 15rem;
    padding: 2rem;
    transition: all 2s;
  }

  .menu .links, .menu .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.places{
  display: flex;
  justify-content:center;
}

.carousel{
  width: 70%;
  height:400px;
}
.carousel-item{
  width: 700px;
  height: 400px;
}
